.character-card {
  display: flex;
  gap: 1.5rem; 
  padding: 1rem;
  border: 2px solid;
  border-image: var(--border-two-colors);
  

  max-width: 45%;

 img {
  max-width: 150px;
  transition: filter 0.5s ease-in-out;
  filter: var(--filter-blue);

  &:hover {
    filter: none;
  }
 }

 &__info {
  word-break: break-all;

  dt {
    color: var(--primary-color);
    font-size: 1.5rem;
   }

   &__item {
    span {
      color: var(--secondary-color);
    }
   }
 }
}

@media (max-width: 1103px) {
  .character-card {
    width: 100%;
    max-width: none;
  }
}