.search-bar__wrapper {
  margin-top: 2rem; 
  
  display: flex;
  gap: 1rem;
}

.search-bar__info {
  margin-top: 2rem ;
  display: flex;
  align-items: center;
  gap: 2rem;

  &__text {
    font-size: 1.5rem;

    span {
      margin-left: .5rem;
      color: var(--primary-color);
      font-size: 2rem;
    }
  }
}

.search-bar__input {
  width: 100%;
  padding: 1rem .5rem;

  border: 2px solid;
  border-image: var(--border-two-colors);
} 

.search-bar__button {
  display: flex;
  align-items: center;
  gap: .5rem
}