:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/background.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;          
  font: inherit;      
  color: inherit;     
  text-align: inherit; 
  outline: none;  
  cursor: pointer;    

  background: black;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 0 10px var(--primary-color);
  transition: all 0.3s ease-in-out;

  &:hover {
    background: var(--secondary-color);
    color: black;
    box-shadow: 0 0 20px var(--secondary-color);
    transform: scale(1.1);
    border: 2px solid var(--secondary-color);
  }

  &:disabled {
    background: black;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    opacity: 0.5;
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
  }

}

input {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
}
img {
  max-width: 100%;
}