:root {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/background.jpg');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;          
  font: inherit;      
  color: inherit;     
  text-align: inherit; 
  outline: none;  
  cursor: pointer;    



  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, var(--secondary-color), var(--primary-color));
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

}

input {
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
}
img {
  max-width: 100%;
}